/**
 * m.css
 */

.index-list {
	padding:0 1em;
	font-size: 1.333333em;
	background:#fff;
}

.index-list li {
	height: 0.5rem;
	line-height: 0.5rem;
	color:#fff;
	background:#73b9ff;
	border-bottom: 1px solid #eaeaea
}
.h100 {height: 100%;}
#header {position:fixed; top:0; left:0; z-index:10; width: 100%; height: 3em; line-height: 3em; text-align: center; color:#fff; background:#9abd2f;}
#footer {position:fixed; bottom:0; left:0;z-index:10; width: 100%; height: 3em;line-height:3em; text-align: center; color:#fff; background:#f86f27;}
#header a, #footer a { color:#fff; font-size: 2em;}
.home { position:absolute; top:0; right:0; width: 1.2rem;line-height:1.5em; color:#fff; background: #3893e4; text-align: center; font-size: 2em; font-weight: 700;}
.back { position:absolute; top:0; left:0; width: 1.2rem; line-height:1.5em; color:#fff; background: #3893e4; text-align: center; font-size: 2em; font-weight: 700;}


html, body { width: 100%; height: 100%; overflow:hidden;}
#container { position:relative; width: 100%; height:100%;overflow-x:hidden; overflow-y:scroll;-webkit-overflow-scrolling: touch;overflow-scrolling: touch; background:#26292c; box-sizing:border-box;}
.page { width:100%; min-height: 100%; background:#fff;  border-top: 3em solid #fff;border-bottom: 3em solid #fff; overflow-y:scroll; overflow-x:hidden; -webkit-overflow-scrolling: touch;overflow-scrolling: touch;}
.page pre code { overflow:scroll; -webkit-overflow-scrolling: touch;overflow-scrolling: touch;}

#pageHome ul { width: 100%;}
#pageHome li { width: 100%; height: 1rem;line-height:1.2; color:#fff; background: #58a9ee; text-align: center; font-size: 1.5em; box-sizing:border-box; -webkit-box-sizing:border-box;}
#pageHome li:nth-child(2n) { border:5px solid #fff;}
#pageHome li:nth-child(2n+1) { border:5px solid #fff;}
#pageHome li a { color:#fff;}
#pageHome li a:active { color:#f00;}

.markdown-body {
	box-sizing:border-box;
	padding:0 0.2rem;
}